params {
    outdir = './results'

    genomes {
        'hg19' {
            db = ''
            index = ''
        }

        'hg38' {
            'db' {
                source = '/mnt/data/gdata/human/hg38/hg38_soft_masked/'
                fasta = '/mnt/data/gdata/human/hg38/hg38_soft_masked/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa'
                index = '/mnt/data/gdata/human/hg38/hg38_soft_masked/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.fai'
                dict = '/mnt/data/gdata/human/hg38/hg38_soft_masked/Homo_sapiens.GRCh38.dna_sm.primary_assembly.dict'
            }
            index = '/mnt/data/gdata/human/hg38/hg38_soft_masked/bwa_index_sm/bwa_index_sm'
            annotations = '/mnt/data/gdata/human/hg38/variants/dbsnp_hg38_all_20180418.vcf.gz'
            'funcotator' {
                source = '/mnt/data/gdata/human/gatk/funcotator_dataSources.v1.7.20200521s'
            }
        }

    }
}

dag {
    overwrite = true
    enabled = true
}

trace {
    overwrite = true
}